<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title> {{title}} </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <ion-header collapse="condense">
        <ion-toolbar>
            <ion-title size="large">{{title}}</ion-title>
        </ion-toolbar>
    </ion-header>

    <ion-alert [isOpen]="isAlertOpen" header="Alert" subHeader="错误！" [message]="message" [buttons]="alertButtons"
        (didDismiss)="isAlertOpen=false"></ion-alert>


    <div class="ion-text-center">
        <h2>{{ horoData.date.year }}年{{ horoData.date.month }}月{{ horoData.date.day }}日 {{ horoData.date.hour }}:{{
            horoData.date.minute }}:{{
            horoData.date.second }}</h2>
    </div>

    <div class="ion-text-center" *ngIf="loading">
        <ion-label>获取星盘</ion-label>
        <ion-spinner name="bubbles"></ion-spinner>
    </div>
    <div class="ion-text-center">
        <canvas id="canvas" width="0" height="0"></canvas>
    </div>
    <div *ngIf="horoscoData" class="horo-aspect-toggle">
        <ion-label class="ion-text-right">星盘</ion-label>
        <ion-toggle [(ngModel)]="isAspect" (ionChange)="switchHoroAspect()"></ion-toggle>
        <!-- <ion-toggle [(ngModel)]="isAspect" (ionChange)="reDraw($event)"></ion-toggle> -->
        <ion-label>相位</ion-label>
    </div>
    <div style="display: flex;flex-direction: column;align-items: center;">

        <div>映点：
            <div>
                <div *ngFor="let item of horoscoData?.antiscoins">
                    <span [ngStyle]="{'font-family': config.planetFontFamily(item.p0)}"> {{ config.planetFontString(
                        item.p0)}}</span>与<span [ngStyle]="{'font-family': config.planetFontFamily(item.p1)}">{{
                        config.planetFontString( item.p1)}}</span>，<span *ngFor="let d of [degreeToDMSFn(item.d)]">{{d.d
                        }}度{{d.m}}分{{d.s}}秒</span>
                </div>
            </div>
        </div>
        <div>反映点：
            <div *ngFor="let item of horoscoData?.contraantiscias">
                <span [ngStyle]="{'font-family': config.planetFontFamily(item.p0)}"> {{ config.planetFontString(
                    item.p0)}}</span>与<span [ngStyle]="{'font-family': config.planetFontFamily(item.p1)}">{{
                    config.planetFontString( item.p1)}}</span>，<span *ngFor="let d of [degreeToDMSFn(item.d)]">{{d.d
                    }}度{{d.m}}分{{d.s}}秒</span>
            </div>
        </div>

    </div>
</ion-content>

<ion-footer>
    <horo-date-time-change (chagedStep)="changeStep($event)"></horo-date-time-change>


</ion-footer>