table {
  // width: 70%;
  
  border-collapse: collapse;
  /* 使边框合并为单一边框 */
}

table,
th,
td {
  border: 2px solid #dee2e6;
  /* 设置边框样式 */
  padding: 10px;
  // padding-top: 1rem;
  // padding-bottom: 1rem;
  // margin: 1rem;

}

/* 选择表格的奇数行 */
tbody {
  tr:nth-child(odd) {
    background-color: #f2f2f2;
    /* 奇数行的背景颜色 */
  }
}


// .white-border {
//   border-collapse: collapse; /* 使边框合并为单一边框 */
// }

// .white-border th, .white-border td {
//   border: 1px solid #fff; /* 设置白色边框 */
//   padding: 8px; /* 单元格内边距 */
// }